@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');


:root {


  --Moderate-cyan: hsl(176, 50%, 47%);
  --Dark-cyan: hsl(176, 72%, 28%);
  --White: hsl(0, 0%, 100%);
 

  // ### Neutral

  --Black: hsl(0, 0%, 0%);
  --Dark-gray: hsl(0, 0%, 48%);
  --Gray: hsl(0, 0%, 90%); 

  // Font

  --font: 'Commissioner', sans-serif;
}
